/*********
* COLORS
*********/
$white:                     #ffffff;
$black:                     #343634;


/*********
* VALUES
*********/
$light-font-weight:             300;
$standard-font-weight:          400;
$strong-font-weight:            700;
$stronger-font-weight:          900;

$background-opacity:            0.7;

/*********
* FONT COLORS
*********/
$text-primary:              $black;
$text-disabled:             transparentize($text-primary, $background-opacity);

/*********
* SHADOWS
*********/
$box-shadow:                0 2px 4px 0 rgba(0, 0, 0, 0.5);

/*********
* MEDIA VALUES
*********/
$min-screen-width:              1180px;
$screen-min-height:             600px;
$mobile-width:                  1024px;
