@import "~css/constants.scss";

html {
    background: $white;
    box-sizing: border-box;
    color: $text-primary;
    font-size: 1em;
    font-weight: $standard-font-weight;
    line-height: 1.63;
    min-height: 100vh;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}
